.section-histoire {
  border: 0px solid #000;
  background: #f8f8f8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding-bottom: 127px;
  position: relative;
}

.section-histoire,
.section-bières {
  padding-top: 326px;
}

.section-bières {
  display: flex;
  flex-direction: column;
  padding-bottom: 360px;
}
.section-histoire-p,
.section-bieres-p {
  padding-top: 16px;
}

.bières {
  align-items: end;
}

.bières-p {
  width: 490px;
  padding-bottom: 127px;
}

.brune-png-1 {
  position: absolute;
  width: 491px;
  height: 490px;
  transform: rotate(25.29deg);
  flex-shrink: 0;
  bottom: 600px;
  left: 500;
}

.blonde-png-1 {
  position: absolute;
  width: 457.126px;
  height: 459.965px;
  transform: rotate(-81.539deg);
  flex-shrink: 0;
  right: 60;
  top: 200;
}

.ipa-png-1 {
  position: absolute;
  width: 518.211px;
  height: 525.014px;
  transform: rotate(-135deg);
  flex-shrink: 0;
  top: 650px;
  right: 300px;
}

.blonde-png-2 {
  position: absolute;
  width: 457.126px;
  height: 459.965px;
  transform: rotate(75deg);
  flex-shrink: 0;
  top: 1000;
}

.ipa-png-2 {
  position: absolute;
  width: 466px;
  height: 466px;
  transform: rotate(-30deg);
  flex-shrink: 0;
  top: 1550;
  left: 470px;
}
