.banner {
  height: 181px;
  background: var(--pink, #fec9e6);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.banner-p {
  color: var(--orange, #ff5c00);
  font-family: Archivo;
  font-size: 78px;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
