.banner {
  height: 181px;
  background: var(--pink, #fec9e6);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

marquee {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.banner-p {
  color: var(--orange, #ff5c00);
  font-family: Archivo;
  font-size: 78px;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
}
