.savoir-plus {
  display: inline-flex;
  padding: 17px 22px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--orange, #ff5c00);
  background: #fff;
  box-shadow: 4px 4px 9.9px 0px rgba(0, 0, 0, 0.25);
  color: var(--orange, #ff5c00);
  font-family: Archivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 60px;
}

.savoir-plus:hover {
  color: var(--orange, #fff);
  background: #ff5c00;
  border: 1px solid var(--orange, #fff);
}

.commander {
  border: 1px solid var(--white, #fff);
  background: var(--orange, #ff5c00);
  box-shadow: 4px 4px 9.9px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  width: 159px;
  height: 57.67px;
  padding: 17px 22px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: var(--white, #fff);
  font-family: Archivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 36px;
}

.commander:hover {
  border: 1px solid var(--orange, #ff5c00);
  background: #fff;
  color: var(--orange, #ff5c00);
}
