.savoir-plus-histoire,
.inscrire,
.savoir-plus-offre {
  display: inline-flex;
  padding: 17px 22px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #ff5c00;
  background: #fff;
  box-shadow: 4px 4px 9.9px 0px rgba(0, 0, 0, 0.25);
  color: #ff5c00;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
}

.savoir-plus-histoire,
.savoir-plus-offre {
  margin-top: 60px;
}

.savoir-plus-histoire:hover,
.inscrire:hover,
.savoir-plus-offre:hover {
  color: #fff;
  background: #ff5c00;
  border: 1px solid #fff;
}

.commander {
  border: 1px solid #fff;
  background: #ff5c00;
  box-shadow: 4px 4px 9.9px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  width: 159px;
  height: 57.67px;
  padding: 17px 22px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 16px;
}

.commander:hover {
  border: 1px solid #ff5c00;
  background: #fff;
  color: #ff5c00;
}

button:hover {
  transform: scale(1.05);
}

button {
  transition: transform 0.2s;
}
