.footer {
  background: var(--pink, #fec9e6);
  padding-bottom: 50px;
  padding-top: 80px;
  display: flex;
}

ul {
  color: var(--orange, #ff5c00);
  font-family: Archivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 10px;
}

li {
  list-style-type: none;
}

.footer-address {
  padding-right: 30px;
  justify-content: space-between;
}
