.footer {
  background: var(--pink, #fec9e6);
}

ul {
  color: var(--orange, #ff5c00);
  font-family: Archivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

li {
  padding-top: 127px;
}
