.newsletter {
  background: #ff5c00;
  padding-top: 50px;
  height: 522px;
  flex-shrink: 0;
}

.newsletter-title {
  color: #fff;
}

.newsletter-p {
  color: #fff;
}

.newsletter-content {
  padding-top: 100px;
  padding-left: 80px;
}

.form-box {
  position: relative;
  width: 50%;
  margin: 20px 0;
  padding: 0;
}

.form-input {
  position: relative;
  width: 100%;
  border: none;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.1));
  border-radius: 5px;
  padding: 10px 40px;
  font-size: 16px;
  color: #ff5c00;
}

.form-input:placeholder-shown + .label {
  visibility: hidden;
  opacity: 0;
  transform: translateX(19px) translateY(-28px);
  transition: all 0.4s ease;
}

.label {
  display: inline-block;
  padding: 0 5px;
  font-size: 16px;
  transition: all 0.4s ease;
  transform: translateX(19px) translateY(-64px);
  opacity: 1;
  background-color: #fff;
}
