.product-p {
  color: var(--black, #000);
  font-family: Archivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 16px 0 16px 0;
}

.products {
  padding-left: 117px;
  padding-top: 75px;
}

.products-img-blonde {
  background: #fec9e6;
}

.products-img-brune {
  background: #ff5c00;
}

.products-img-ipa {
  background: #fffe52;
}

.allergens {
  color: #000;
  font-family: Archivo;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 26px;
}

.quantity {
  color: #000;
  font-family: Archivo;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}

.price {
  color: #000;
  font-family: Archivo;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: 6px;
}
