.section-histoire {
  border: 0px solid #000;
  background: #f8f8f8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding-bottom: 127px;
  position: relative;
}

.section-histoire,
.section-bières {
  padding-top: 326px;
}

.section-bières {
  display: flex;
  flex-direction: column;
  padding-bottom: 360px;
}

.section-histoire-p,
.section-bieres-p {
  padding-top: 16px;
}

.bières {
  align-items: end;
}

.bières-p {
  width: 490px;
  padding-bottom: 127px;
}

.brune-png-1 {
  position: absolute;
  width: 491px;
  height: 490px;
  flex-shrink: 0;
  bottom: 600px;
  left: 500;
  -webkit-transform: rotate(15deg) scale(1);
  transform: rotate(25.29deg) scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.brune-png-1:hover {
  -webkit-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
}

.blonde-png-1 {
  position: absolute;
  width: 457.126px;
  height: 459.965px;
  flex-shrink: 0;
  right: 60;
  top: 200;
  -webkit-transform: rotate(15deg) scale(1);
  transform: rotate(-81.539deg) scale(1);
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.blonde-png-1:hover {
  -webkit-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
}

.ipa-png-1 {
  position: absolute;
  width: 518.211px;
  height: 525.014px;
  flex-shrink: 0;
  top: 650px;
  right: 300px;
  -webkit-transform: rotate(15deg) scale(1);
  transform: rotate(-135deg) scale(1);
  -webkit-transition: 0.9s ease-in-out;
  transition: 0.9s ease-in-out;
}

.ipa-png-1:hover {
  -webkit-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
}

.blonde-png-2 {
  position: absolute;
  width: 457.126px;
  height: 459.965px;
  flex-shrink: 0;
  top: 1000;
  -webkit-transform: rotate(15deg) scale(1);
  transform: rotate(75deg) scale(1);
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.blonde-png-2:hover {
  -webkit-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
}

.ipa-png-2 {
  position: absolute;
  width: 466px;
  height: 466px;
  flex-shrink: 0;
  top: 1550;
  left: 470px;
  -webkit-transform: rotate(15deg) scale(1);
  transform: rotate(-30deg) scale(1);
  -webkit-transition: 0.9s ease-in-out;
  transition: 0.9s ease-in-out;
}

.ipa-png-2:hover {
  -webkit-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
}

.section-offre-p {
  width: 490px;
  padding-top: 20px;
}

.offre {
  padding: 190px 0px 0px 110px;
}

.img-offre {
  padding: 0;
}
